% -*- mode: erlang; -*- vim: set ft=erlang:
[
    {config, [
        #{
            files => [
                "src/**/*.erl",
                "util/**/*.erl"
            ],
            ruleset => erl_files,
            rules => [
                {elvis_style, atom_naming_convention, #{
                    regex =>
                        "^((use_otp_trusted_CAs)|(rdnSequence)|([a-z](_?[a-z0-9]+)*(_SUITE)?))$"
                }},
                {elvis_style, macro_naming_convention, #{
                    regex => "^((DEFAULT_USE_OTP_TRUSTED_CAs)|([A-Z](_?[A-Z0-9]+)*))$"
                }},
                {elvis_style, module_naming_convention, #{
                    regex =>
                        "^((tls_certificate_check_hardcoded_CAs_updater)|([a-z](_?[a-z0-9]+)*(_SUITE)?))$"
                }},
                {elvis_style, no_debug_call, #{
                    ignore => [
                        tls_certificate_check_hardcoded_CAs_updater
                    ]
                }},
                {elvis_style, no_if_expression, #{
                    ignore => [
                        tls_certificate_check_shared_state
                    ]
                }},
                {elvis_style, no_throw, #{
                    ignore => [
                        tls_certificate_check,
                        tls_certificate_check_shared_state
                    ]
                }}
            ],
            ignore => [
                tls_certificate_check_hardcoded_authorities
            ]
        },
        #{
            files => ["test/*.erl"],
            ruleset => erl_files,
            rules => [
                {elvis_style, atom_naming_convention, #{
                    regex => "^((use_otp_trusted_CAs)|([a-z](_?[a-z0-9]+)*(_SUITE)?))$"
                }},
                {elvis_style, dont_repeat_yourself, disable},
                {elvis_style, no_block_expressions, #{
                    ignore => [
                        tls_certificate_check_override_SUITE
                    ]
                }},
                {elvis_style, no_debug_call, disable},
                {elvis_style, no_invalid_dynamic_calls, disable},
                {elvis_style, no_nested_try_catch, disable},
                {elvis_style, no_used_ignored_variables, disable}
            ]
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        }
    ]},
    {verbose, false}
].
