{erl_opts,
 [debug_info,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guards,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors,
  {platform_define, "^2[3-9]", 'HARDCODED_AUTHORITIES_UPDATER_SUPPORTED'},
  {platform_define, "^[3-9]",  'HARDCODED_AUTHORITIES_UPDATER_SUPPORTED'},

  % * https://github.com/elixir-mint/mint/pull/328
  % * https://blog.voltone.net/post/30
  % * https://erlang.org/pipermail/erlang-questions/2021-July/101252.html
  {platform_define, "^22\.", 'PARTIAL_CHAIN_NEEDED'},
  {platform_define, "^23\.[0-2]\.", 'PARTIAL_CHAIN_NEEDED'},
  {platform_define, "^23\.3\.[0-3]\.", 'PARTIAL_CHAIN_NEEDED'},
  {platform_define, "^23\.3\.4\.[0-4]($|[^0-9])", 'PARTIAL_CHAIN_NEEDED'},
  {platform_define, "^24.0.[0-3]($|[^0-9])", 'PARTIAL_CHAIN_NEEDED'}
 ]}.

{minimum_otp_vsn, "22.0"}.

{deps,
 [{ssl_verify_fun, "1.1.6"}
 ]}.

{shell,
 [{apps, [tls_certificate_check]},
  {config, "shell.config"}
 ]}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [unmatched_returns,
    error_handling,
    race_conditions,
    underspecs,
    unknown
   ]}
 ]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
 ]}.

{project_plugins,
 [{rebar3_hex, "6.10.3"}
 ]}.

{profiles,
 [{development,
   [{deps, [{recon, "2.5.1"}]},
    {erl_opts,
     [nowarn_missing_spec,
      nowarnings_as_errors]}
   ]},


  {test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors
     ]},
    {cover_enabled, true},
    {cover_opts, [verbose]}
   ]},

  {hardcoded_authorities_update,
   [{erl_opts,
     [{src_dirs, ["src", "util"]}
     ]},
    {escript_name, "tls_certificate_check_hardcoded_authorities_updater"},
    {escript_emu_args, "%%! -noinput\n"}
   ]}
 ]}.

{edoc_opts,
 [{stylesheet_file, "doc/custom_stylesheet.css"}
 ]}.
