{erl_opts,
 [debug_info,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guards,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors,
  {platform_define, "^23\.[1-3]", 'HARDCODED_AUTHORITIES_UPDATER_SUPPORTED'},
  {platform_define, "^2[4-9]", 'HARDCODED_AUTHORITIES_UPDATER_SUPPORTED'},
  {platform_define, "^[3-9]",  'HARDCODED_AUTHORITIES_UPDATER_SUPPORTED'},
  {platform_define, "^22\\.",            'EXPIRED_CAs_ARE_CONSIDERED_VALID'},
  {platform_define, "^23\\.[0-2][^0-9]", 'EXPIRED_CAs_ARE_CONSIDERED_VALID'},
  {platform_define, "^22\\.",            'FLAKY_CROSS_SIGNING_VALIDATION'},
  {platform_define, "^23\\.[0-1][^0-9]", 'FLAKY_CROSS_SIGNING_VALIDATION'}
 ]}.

{minimum_otp_vsn, "22.0"}.

{deps,
 [{ssl_verify_fun, "1.1.6"}
 ]}.

{shell,
 [{apps, [tls_certificate_check]},
  {config, "shell.config"}
 ]}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [unmatched_returns,
    error_handling,
    underspecs,
    unknown
   ]}
 ]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
 ]}.

{project_plugins,
 [{rebar3_ex_doc, "0.2.8"},
  {rebar3_hex, "7.0.1"}
 ]}.

{profiles,
 [{development,
   [{deps, [{recon, "2.5.1"}]},
    {erl_opts,
     [nowarn_missing_spec,
      nowarnings_as_errors]}
   ]},


  {test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors
     ]},
    {cover_enabled, true},
    {cover_opts, [verbose]}
   ]},

  {hardcoded_authorities_update,
   [{erl_opts,
     [{src_dirs, ["src", "util"]}
     ]},
    {escript_name, "tls_certificate_check_hardcoded_authorities_updater"},
    {escript_emu_args, "%%! -noinput\n"}
   ]}
 ]}.

{ex_doc, [
    {source_url, <<"https://github.com/g-andrade/tls_certificate_check">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
    {main, <<"readme">>},
    {proglang, erlang}
]}.
{hex, [
    {doc, #{
        provider => ex_doc
    }}
]}.
